<div>
  <button class="right" mat-raised-button color="primary" (click)="logout()">Logout</button>
</div>
<br>
<div class="authentication-card-container" fxLayout="column" fxLayoutAlign="center">
  <mat-card class="authentication-card">
    <mat-card-header>
      <mat-card-title>Frases</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="textEncryptForm" fxLayout="column" fxLayoutAlign="center">
        <mat-form-field>
          <mat-label>Frase a encriptar</mat-label>
          <input id="textToEncrypt" matInput formControlName="textToEncrypt" required />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()"> Guardar </button>
    </mat-card-actions>
  </mat-card>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Texto desencriptado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let text of convertido">
      <td>{{text.id}}</td>
      <td>{{text.text}}</td>
    </tr>
  </tbody>
</table>